.traffic-signal{
    border: 8px solid black;
    background-color: black;
    padding: 10px 3px;
    width: 50px;
    border-radius: 50px;
   font-size: 30px;
   text-align: center;
   
}
.traffic-signal > div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    opacity: .2;
}

.red
{
    background-color: red;
    
    
}
.yellow
{
    background-color: yellow;
   
    
}
.green
{
    background-color: green;
     
}